.nav_menu a{
    color: white;
    text-decoration: none;
    padding: 2rem 0;
    font-size: 25px;

   

}
.nav_menu{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.nav_menu ul { /* eliminamos de los enlaces la viñeta */

    margin: 0px 10px;
    padding: 2px;
    list-style: none;
}

.nav_menu ul li { /* hacemos que los li se pongan en linea */

    display: inline-block;
}

.nav_menu li {
    margin: 10px;

}

.nav_menu ul li a { /* hacemos que los enlaces se comporten como un bloque*/ 

    display: block;
    
    padding: 0.5rem 1rem;
    transition: all 0.4s linear; /* hacemos un efecto de transicion*/
    border-radius: 5px;
    
}
.nav_menu ul li a:hover { /* sombreado cuando pasamos por encima de los enlaces*/
    background: #9b6430;
}
/* TODA LA PARTE SUPERIOR PERTENECE AL NAV*/


.jumbotron {

    margin-top: 10px;
    padding: 10px;
    background-color: slateblue;
}